# Fast Food Marketing Campaign A/B Testing

A fast-food chain plans to add a new item to its menu. However, 
they are still undecided between three possible marketing campaigns for promoting the new product.
In order to determine which promotion has the greatest effect on sales, the new item is introduced 
at locations in several randomly selected markets.

A different promotion is used at each location, and the weekly sales of the new item are recorded 
for the first four weeks.

In [1]:
# importing Libraries and packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Loading the dataset
dataset = pd.read_csv("WA_Marketing-Campaign.csv")

In [3]:
dataset.head()

,MarketID,MarketSize,LocationID,AgeOfStore,Promotion,week,SalesInThousands
0,1,Medium,1,4,3,1,33.73
1,1,Medium,1,4,3,2,35.67
2,1,Medium,1,4,3,3,29.03
3,1,Medium,1,4,3,4,39.25
4,1,Medium,2,5,2,1,27.81

In [6]:
# Collecting meta data about the original data provided
dataset.shape

(548, 7)

In [9]:
dataset.columns

Index(['MarketID', 'MarketSize', 'LocationID', 'AgeOfStore', 'Promotion',
       'week', 'SalesInThousands'],
      dtype='object')

In [4]:
# Checking for null values 
dataset.isnull().sum()

MarketID            0
MarketSize          0
LocationID          0
AgeOfStore          0
Promotion           0
week                0
SalesInThousands    0
dtype: int64

We don't have any null values in the dataset.

In [8]:
dataset.describe()

,MarketID,LocationID,AgeOfStore,Promotion,week,SalesInThousands
count,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000
mean,5.715328,479.656934,8.503650,2.029197,2.500000,53.466204
std,2.877001,287.973679,6.638345,0.810729,1.119055,16.755216
min,1.000000,1.000000,1.000000,1.000000,1.000000,17.340000
25%,3.000000,216.000000,4.000000,1.000000,1.750000,42.545000
50%,6.000000,504.000000,7.000000,2.000000,2.500000,50.200000
75%,8.000000,708.000000,12.000000,3.000000,3.250000,60.477500
max,10.000000,920.000000,28.000000,3.000000,4.000000,99.650000

In [14]:
# separating the categorical data and numerical data separately
dataset_cat = dataset.loc[:,["MarketID", "MarketSize", "LocationID", "Promotion","week"]]
dataset_num = dataset.loc[:,["AgeOfStore","SalesInThousands"]]

In [16]:
print(dataset_cat.head())
print(dataset_num.head())

   MarketID MarketSize  LocationID  Promotion  week
0         1     Medium           1          3     1
1         1     Medium           1          3     2
2         1     Medium           1          3     3
3         1     Medium           1          3     4
4         1     Medium           2          2     1
   AgeOfStore  SalesInThousands
0           4             33.73
1           4             35.67
2           4             29.03
3           4             39.25
4           5             27.81

# Univariant Analysis

In [17]:
dataset_cat.columns

Index(['MarketID', 'MarketSize', 'LocationID', 'Promotion', 'week'], dtype='object')

### 1. MarketID

In [20]:
dataset_cat["MarketID"].nunique()

10